$red: #000;

$padding: (
  'default': 1em,
  'small': .3em,
  'large': 2em
);

$colors: (
  'primary': #587EBB
);

@function color($color: 'primary') {
  @return map-get($colors, $color);
}

@function padding($pad: 'default') {
  @return map-get($padding, $pad);
}