@import '_variables';
@import '_reset';
@import '_bulma';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  max-width: 1024px;
  margin: auto;
  padding: 0 padding(default);
}

h1 {
  font-size: 1.5em;
  margin-bottom: padding('large');
}

body {
  font-size: .85em;
}

p {
  margin-bottom: padding();
}

dl {
  border-spacing: 0 padding();
  display: table;
  text-align: left;

  dt, dd {
    display: table-cell;
  }

  dt {
    padding-right: 1em;
    font-weight: bold;
    white-space: nowrap;

    &:after {
      content: ':';
    }
  }

  div {
    display: table-row;
  }
}

button {
  border: 1px solid #abc;
  padding: padding('default');
  outline: none;

  &:hover {
    background: #cde;
    cursor: hand;
    cursor: pointer;
  }
}

.form-fields {
  max-width: 450px;
}

.flex {
  display: flex;
}

.flex-right {
  margin-left: auto;
}

.flex-items-center {
  align-items: center;
}

.no-flex {
  display: block !important;
}

.divider {
  border-top: 1px solid #aaa;
}

.margin {
  @each $dir in ('bottom', 'top', 'left', 'right') {
    @each $pad, $padValue in $padding {
      &-#{$dir} {
        &--#{$pad} {
          margin-#{$dir}: $padValue !important;
        }
      }
    }
  }
}

.padding {
  @each $dir in ('bottom', 'top', 'left', 'right') {
    @each $pad, $padValue in $padding {
      &-#{$dir} {
        &--#{$pad} {
          padding-#{$dir}: $padValue !important;
        }
      }
    }
  }
}
